@media only screen and (min-width: 35rem) {
    header {
      padding: 0.35rem 1rem;
    }
  
    section {
      padding: 2rem 5rem;
    }
  
    #summary > h1 {
      margin-left: 5rem;
    }
  
    #menuBtn,
    #closeBtn {
      display: none;
    }
  
    #menu {
      position: static;
      width: auto;
      background-color: transparent;
      color: #ddd;
      z-index: unset;
    }
  
    #menu ul {
      padding: 0;
      display: flex;
    }
  
    #menu ul li {
      margin-right: 1rem;
      margin-bottom: 0;
      font-size: 1rem;
    }
  
    /* Footer*/
  footer {
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
    padding: 25px 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: #134266;
    grid-template-columns: 900px auto;
}
footer a {
    text-decoration: none;
    color: #ffffff; 
}
footer p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #134266;
}
footer p a:hover {
    text-decoration:solid;
}  
footer a:hover {
  background-color: white;
  color:white;
}
footer img {
  width: 25%;
  height: auto;
}

.copyupdated {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px; 
}
    /* Main */
    #hero a {
      padding: 1% 3rem;
      border-radius: 50px;
    }
  
    #hero h1 {
      font-size: 2.5rem;
    }
  
    /* Current Weather */
    #currentWeather {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 0.5rem;
      color: white;
    }
  
    #currentWeather :first-child {
      grid-column: 1 / 2;
      color: white;
    }
  
   
    #joinUs > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      align-items: center;
    }
  
    /* Events */
    #events > div {
      grid-template-columns: repeat(3, 1fr);
    }
  
  }