body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/*  Header */

header {
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
    text-align: center;

    grid-template-columns: 150px auto;
    display: flex;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}
.logo {
    width: 300px;
    height: 150px;
    padding-top: 5px;
    justify-self: right;
    align-self: center;
}
nav a {
    color: #134266;
    background: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin: 40px;
    border-radius: 15px;
}
nav {    
    display: flex;
    justify-content:left;
}
nav a:hover {
    background-color:#134266;
    color: #ffffff;
}

/*  Hero */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#heroBox {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#heroMessage {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-left: 5px;
}
#heroMessage h1 {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 28px;
    margin-right: -170px;
}
#heroMessage h4 {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: white;
    margin-top: -1px;
    margin-right: -170px;
}
.buttonbox {
    text-align: right;
    font-family: 'Lato', sans-serif;
    color:#134266;
    margin-top: 220px;
}

.book {
    background-color: #217B1A;
    text-decoration: none;
    color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
}
.book:hover {
    background-color: #ffffff;
    color: #134266;
}


/*  Main */

main {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
    padding: 0 5px 5px 5px;
}

h1 {
    text-align: center;
    color: #217B1A;
    font-size: 2.3rem;
    text-transform: uppercase;
}

/* Events*/
.eventOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.eventOne p{
    grid-column: 3;
    margin-top: 1px;
}
.eventOne h3{
    font-size: large;
    margin-top: 1px;
}
.eventOne img{
    margin-left: 40px;
}
.eventTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
}
.eventTwo p{
    grid-column: 3;
    margin-top: 1px;
}
.eventTwo img{
    margin-left: 40px;
}
.eventTwo h3{
    font-size: large;
    margin-top: 1px;
}
.eventThree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
}
.eventThree  p{
    grid-column: 3;
    margin-top: 1px;
}
.eventThree img{
    margin-left: 40px;
}
.eventThree h3{
    font-size: large;
    margin-top: 1px;
}


/* Weather */
.weather {
    width: 100%;
    border-radius: 1.7rem;
    border-color: #134266;
    background-color: rgb(204, 203, 203);
    margin-top: 80px;
}
#weather h3, #five-day h3 {
    margin: 0;
    padding: 15px;
    background-color: #FCE172;
    color: #134266;
    text-align: center;
}
#weather p {
    margin: 10px 0 0 0;
    text-align: center;
}
#weather figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.temp-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-temp {
    font-size: 2.5rem;
    font-weight: 800;
}
.temp-area figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
#weather-description {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
}
.alt-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5px;
}
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 15px;
    font-size: 1.3rem;
    
}
.weather-box span {
    font-weight: 800;
    font-size: 1.3rem;
}

/* Spotlights */
.spotlights {
    border-color: #134266;
    background-color:#ffffff;
    margin-top: 50px;
}

/*  Footer */

footer {
    background-color: #134266;
    padding: 25px 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #ffffff;
    grid-template-columns: 900px auto;
}
footer a {
    text-decoration: none;
    color: #ffffff; 
}
footer p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: center;
}
footer p a:hover {
    text-decoration:solid;
}  
footer a:hover {
    background-color: #217B1A;
    color:white;
}

.copyupdated {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px; 
}

/* Hamburguer Menu */

#menu {
	font-size: 2.5rem;
	border: 0;
	background: none;
	color: #134266;
 	position: absolute;
	top: 1rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}


/* Discover */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 1.5rem;
    display: flex;
}

.content {
    width: 50%;
    padding: 1rem;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    color: #b6b6b6;
}

.icon-list {
    width: 42px;
    height: 42px;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #4acaa8;
}
.h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #217B1A;
    background-color:#ecebe7;
}
.h3 {
    padding-bottom: 1rem;
    color: #217B1A;
    text-align: center;
}

.list p{
    text-align: center;
}

.content img {
    width: 100%;
    height: auto;
}

.list img {
    width: 100%;
    height: auto;
}
label {
    display: block;
    margin-bottom: 10px;
  }

/* calendar*/

#cal { 
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    margin:50px auto; 
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
}
#cal .header { 
    cursor:default; 
    background: #134266; 
    height: 34px; 
    position: relative; 
    color:#fff; 
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    font-weight:bold; 
    text-shadow:0px -1px 0 #87260C; 
    text-transform: uppercase; 
} 
#cal .header span { 
    display:inline-block; 
    line-height:34px; 
}
#cal .header .hook { 
    width: 9px; 
    height: 28px; 
    position: absolute; 
    bottom:60%; 
    border-radius:10px; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
    background:#ececec; 
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
} 

#cal .header .hook { 
    width: 9px; 
    height: 28px; 
    position: absolute; 
    bottom:60%; 
    border-radius:10px; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
    background:#ececec; 
    background: -moz-linear-gradient(right top, #fff, #827e7d); 
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
} 

#cal .header .month-year { 
    letter-spacing: 1px; 
    width: 100%; 
    text-align: center; 
}
#cal table { 
    background:#fff; 
    border-collapse:collapse;
    margin-left: 10px; 
} 
#cal td { 
    color:#2b2b2b; 
    width:200px; 
    height:30px; 
    line-height:30px; 
    text-align:center; 
    border:1px solid #e6e6e6; 
    cursor:default; 
} 
#cal #days td { 
    padding: 18px;
    line-height: 26px; 
    text-transform: uppercase; 
    font-size: 5px; 
    color:#9e9e9e; 
} 
#cal #days td:not(:last-child) { 
    border-right:1px solid #fff; 
}
#cal #cal-frame td.today { 
    background:#ededed; 
    color:#8c8c8c; 
    box-shadow:1px 1px 0px #fff inset; 
    -moz-box-shadow:1px 1px 0px #fff inset; 
    -webkit-box-shadow:1px 1px 0px #fff inset; 
}

/* imagen */
.card-img {
    width: 100%;
    height: 300px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: black;
    animation: fade 15s;
}
.card-img:hover {
    opacity: .8;
    transform: scale(1.1);
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Form */
:root {
    --font-color: #030303;
    --input-border-color: #999;
    --invalid-color:#134266;
    --valid-color: #217b1a;
}

.form-mode {
    display: flex;
    margin: 1px auto;
}

.f1 fieldset {
    margin: 2rem 50px;
    border: 0.5px solid var(--valid-color);
    border-radius: 6px;
    padding: .5rem 2% 2%;
}

.f1 legend {
    color: white;
    padding: 0.5rem;
    font-style: italic;
    background-color: var(--invalid-color);
}

.f1 label {
    display: block;
    padding-top: 1rem;
    color:var(--valid-color);
    font-size: 1.2rem;
}

.f1 div {
    padding-top: 1rem;
    color: var(--invalid-color);
    font-size: 1.2rem;
}

.f1 input[type="text"],
.f1 input[type="tel"],
.f1 input[type="email"],
.f1 input[type="company"],
.f1 input[type="date"],
.f1 select,
.f1 input[type="number"],
.f1 input[type="hidden"]
{
    background-color: rgb(210, 213, 216);
    display: block;
    border: solid 1px var(--input-border-color);
    border-radius:  6px;
    padding: .75rem;
    color:  black;
    font-size: small;
    width: 100%;
    max-width: 320px;
    appearance: none;
}

.f1 input[type="radio"],
.f1 input[type="checkbox"]{
    margin-right: 6px;
}

.f1 button[type="submit"]{
    border: none;
    background-image: linear-gradient(#083f51, #083f51);
    color: #fff;
    border-radius: 6px;
    padding: .9rem;
    width: 50%;
    max-width: 350px;
    margin: 1rem 2% 1rem 24%;
    box-shadow: 1px 1px 4px #999;
}

.f1 input:required {
    border-left: solid 7px #217b1a;
}

.f1 input:required:valid {
    border-left: solid 7px rgb(14, 29, 83);
}
 
.form-mode label.f2 textarea {
    background-color: rgb(210, 213, 216);
    display: flex;
    font-size: 1rem;
    border: solid 1px var(--input-border-color);
    border-radius: 4px;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color-main);
    max-width: 100%;
}

/* table */
body {
	font-family: Lato;
	font-size: small;
}

table {
	margin: 50px 15% auto;
	border: 0.3px solid var(--invalid-color);
	border-collapse: collapse;
}

tr:first-child th, .highlight {
	background-color: var(--invalid-color);
	color: white;
}

th, td {
	padding: 20px 20px;

}

th:first-child, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th {
	background-color: var(--back2);
    color: var(--font-color);
	font-size: larger;
}

td {
	text-align: center;
	font-size: larger;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}
table tr:nth-child(even) {
    background-color: #d6d6d6;
}

.img3 img {
    margin: 50px 15% auto;
    padding: 5px;
    width: 450px;
    height: 410px;
    filter: drop-shadow(5px 5px 10px #6f7364);
}

/* Thank You */
.thank-you {
    display: block;
    margin: 20px 3%;
}
.thank-you p {
    margin: 2px 15%;
    font-size: x-large;
    text-align: center;
    font-family: Lato;
    color: green;
}

.img4 img {
    margin: 50px 15% auto;
 
}

/* Menu */
.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

/* Directory */
#cards section > h2 {
    margin: 5px;
    color: #134266;
}
#cards section > p {
    margin: 5px;
}
#cards img {
    max-width: 90px;
    height: 50px;
    margin: 50px;
    shape-margin: 5px;
    filter: drop-shadow(3px 3px 3px gray);
}
#directory {
    margin: 2rem;
    position: relative;
    padding: 20px;
}
#directory h2 {

    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.button-menu {
    padding: 0.5rem;
    text-align: center;
}

.button-menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #134266;
    color: white;
    cursor: pointer;
}
.button-menu button:hover{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #16932f;
    color: white;
    cursor: pointer;
}
.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    padding: 0.35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: black;
    height: 310px;
}

.member h3 {
    font-size: 1.2rem;
}

.member p {
    font-size: 0.75rem;
}

.member a {
    font-size: 0.65rem;
    color: var(--primary-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}
.grid section {
    text-align: center;
}
.grid section > * {
    margin: 0.1rem;
}
.list {
    display: flex;
    flex-direction: column;
}
.list section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title phone"
        "address1 email"
        "address2 .";
    margin: 0;
    height: auto;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 0.75rem;
    grid-area: title;
}
.list section p:nth-of-type(1) {
    grid-area: address1;
}
.list section p:nth-of-type(2) {
    grid-area: address2;
}
.list section p:nth-of-type(3) {
    grid-area: phone;
}
.list section a {
    grid-area: email;
}

.list section:nth-child(even) {
    background-color: #e5e6e7;
}
.list section:nth-child(even).dark-mode {
    color: var(--text-color-main);
}
.list section:nth-child(even) a.dark-mode {
    background-color: #e5e6e7;
    color: var(--text-color-main);
}
