@media only screen and (min-width: 35rem) {
    /*----------- HEADER --------------*/
    header {
      padding: 0.35rem 1rem;
    }
  
    section {
      padding: 2rem 5rem;
    }
  
    #summary > h1 {
      margin-left: 5rem;
    }
  
    #menuBtn,
    #closeBtn {
      display: none;
    }
  
    #menu {
      position: static;
      width: auto;
      background-color: transparent;
      color: #ddd;
      z-index: unset;
    }
  
    #menu ul {
      padding: 0;
      display: flex;
    }
  
    #menu ul li {
      margin-right: 1rem;
      margin-bottom: 0;
      font-size: 1rem;
    }
  
    /*----------- FOOTER --------------*/
  footer {
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
    padding: 25px 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: #134266;
    grid-template-columns: 900px auto;
}
footer a {
    text-decoration: none;
    color: #ffffff; 
}
footer p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #134266;
}
footer p a:hover {
    text-decoration:solid;
}  
footer a:hover {
    background-color: #217B1A;
    color:white;
}

.copyupdated {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px; 
}
    /*----------- MAIN --------------*/
    #hero a {
      padding: 1% 3rem;
      border-radius: 50px;
    }
  
    #hero h1 {
      font-size: 2.5rem;
    }
  
    /* Current Weather */
    #currentWeather {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 0.5rem;
      color: white;
    }
  
    #currentWeather :first-child {
      grid-column: 1 / 2;
      color: white;
    }
  
    /* Forecast */
    .forecast-box {
      gap: 80px;
      color: white;
    }
  
    /* Companies */
    .companies > div {
      width: 150px;
      height: 150px;
      margin: 0 2rem;
    }
  
    /* Why Join Us */
    #joinUs > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      align-items: center;
    }
  
    /* Events */
    #events > div {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /*------------  FORM  -------------*/
    form fieldset,
    #benefits,
    #contact-info {
      max-width: 80%;
    }
  
    form label.top input,
    form label.top select,
    form label.top textarea {
      max-width: 100%;
    }
  
    /* ------------ Directory Page ------------ */
  
    #controls {
      display: flex;
    }
  
    #businesses {
      padding: 0.3rem 1rem;
    }
  
    #businesses p {
      font-size: 0.9rem;
    }
  
    #businesses.grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
}