@media only screen and (min-width: 64rem) {
    /* Current Weather */
    #currentWeather {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  
    /* weather */
    .weather {
      gap: 50px;
      color: white;
    }
  


  }