* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    
}

header, footer{
    background-color: rgb(52, 87, 135);
    color: white;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	border: 1px solid rgba(255, 253, 253, 0.1);
}

.navigation{
    background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
	padding: 40px;
	border: 1px solid rgba(255, 253, 253, 0.1);
}

header, main {
	margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 0.3px;
    padding: 18px;
    margin: 0;
}

.nav li {
    font-size: large;
    color: black;
}

.navigation {
    background-color: rgb(103, 99, 99);
    font-size: x-large;
    color: white;
    margin: 0 auto;
	max-width: 5000px;
    max-height: 30px
}

.nav ul {
    list-style-type: none
}

.navigation a{
    display: none;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: .8rem;
    text-decoration: none;
}

.navigation a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation .active{
    background-color: rgba(0, 0, 0, 0.3);
}

.card1 {
    border: 1px solid #415541;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem 0;
}

.card2 {
    border: 1px solid #415541;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem 0;
}


div h3,h4, li {
    background-color: white;
    color: black;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 0.5rem;
}

.copyupdated {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}


#gtFlag {
    width: 50px;
    height: 30px;
}

.class1 {
    background-color: #415541;
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 10px;
}

.class2 {
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1rem;
}

img {
    display: block;
    margin: 0;
    max-width: 300px;
    filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, 0.5));
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}


/* Hamburguer menu*/

#menu {
	font-size: 2.5rem;
	border: 0;
	background: none;
	color: #ffffff;
 	position: absolute;
	top: 1rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

/* Dark mode */

#mode {
	position: absolute;
	top: 5rem;
    right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}