* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}

header, footer, nav{
    background-color: rgb(10, 10, 61);
    color: white;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(255, 253, 253, 0.1);
}

header, main {
	margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
    margin: 25px;
}


.navigation {
    background-color: rgb(109, 111, 113);
    margin: 0 auto;
	max-width: 800px;
}

nav ul {
    list-style-type: none
}

nav a{
    display:grid;
    color: white;
    text-align: center;
    padding: .8rem;
    text-decoration: none;

}

.navigation a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation .active{
    background-color: rgba(0,0,0,0.3);
}

.card {
    border: 1px solid #415541;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem 0;
}

h2{
    background-color: #547489;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

h3, h4 {
    padding: 10px;
}

.copyupdated {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}


#gtFlag {
    width: 50px;
    height: 30px;
}

.class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.class section{
    box-shadow: 1px 1px 10px black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}

img {
    display: block;
    margin: 0;
    max-width: 300px;
}