@media (min-width: 960px) {
    nav {
		display: flex;
	}
	nav a{
		text-align: center;
	}

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card section:nth-child(1) {
        grid-column: span 2;
    }
    

    footer .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h2{
    background-color: rgb(52, 87, 135);;
    color: #ffffff;
    display: block;
    text-align: center;
    }
    
    @media (min-width: 400px) {
        h1 {
            font-size: 2.5rem;
            margin-left: 0;
            text-align: center;
        }
        
        h2 {
            font-size: 2rem;
            text-align: center;
        }

        .navigation {
            flex-direction: row;
        }
    
        .navigation a {
            display: block;
            flex: 1 1 100%;
        }

        
    }
    
}
