@media only screen and (min-width: 768px) {
    nav ul {

	}
	nav ul li {
		flex: 1 1 100%;
	}

    nav {
        background-color: rgb(109, 111, 113);
        margin: 0 auto;
        max-width: 800px;
    }
    
    nav ul {
        list-style-type: none
    }
    
    nav a{
        display: block;
        color: white;
        text-align: center;
        padding: .8rem;
        text-decoration: none;
    }
    
    nav a:hover{
        background-color: rgba(255,255,255,0.2);
    }
    
    nav .active{
        background-color: rgba(0,0,0,0.3);
    }
}